<section class="map_heading pt-5 px-3" data-aos="fade-up" data-aos-duration="1500">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-5 position-relative">
                    <select name="" id="" class="form-control custom_search form-select">
            <option value="">Search</option>
            <option value="">lorem</option>
          </select>
                    <i class="fa fa-search"></i>
                    <img src="assets/images/locator-icon.png" class="locator_icon" alt="" />
                    <img src="assets/images/marked-icon.png" class="marked_icon" alt="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex">
                    <button class="btn text-white border me-3 filter_btn" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            <i class="fa fa-filter me-3"></i>Filter
          </button>
                    <button class="btn text-white border filter_btn" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            List View
          </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" data-aos="fade-down" data-aos-duration="1500">
        <div class="row">
            <div class="col-12">
                <div class="position-relative">
                    <div class="p-3 bg-white">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Filter by</h6>
                                </div>
                                <div class="col-md-3">
                                    <div class="col_selector">
                                        <div class="form-group mb-4">
                                            <select name="" id="" class="form-control form-select">
                        <option value="">Country</option>
                        <option value="">Country</option>
                        <option value="">Country</option>
                        <option value="">Country</option>
                      </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col_selector">
                                        <div class="form-group mb-4">
                                            <select name="" id="" class="form-control form-select">
                        <option value="">City</option>
                        <option value="">City</option>
                        <option value="">City</option>
                        <option value="">City</option>
                      </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col_selector">
                                        <div class="form-group mb-4">
                                            <select name="" id="" class="form-control form-select">
                        <option value="">Type</option>
                        <option value="">Type</option>
                        <option value="">Type</option>
                        <option value="">Type</option>
                      </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col_selector">
                                        <div class="form-group mb-4">
                                            <select name="" id="" class="form-control form-select">
                        <option value="">Status</option>
                        <option value="">Status</option>
                        <option value="">Status</option>
                        <option value="">Status</option>
                      </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="px-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="position-relative">
                    <div class="">
                        <img src="assets/images/map-point.png" class="img-fluid w-100" data-aos="zoom-in" data-aos-duration="3000" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mx-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="fz16 mt-2">Filter by</h3>
            </div>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between">
            <div class="me-3 w-20">
                <div class="form-group mb-4">
                    <select name="" id="" class="form-control form-select">
            <option value="">Country</option>
            <option value="">Country</option>
            <option value="">Country</option>
            <option value="">Country</option>
          </select>
                </div>
            </div>
            <div class="me-3 w-20">
                <div class="form-group mb-4">
                    <select name="" id="" class="form-control form-select">
            <option value="">City</option>
            <option value="">City</option>
            <option value="">City</option>
            <option value="">City</option>
          </select>
                </div>
            </div>
            <div class="me-3 w-20">
                <div class="form-group mb-4">
                    <select name="" id="" class="form-control form-select">
            <option value="">Property Use</option>
            <option value="">Property Use</option>
            <option value="">Property Use</option>
            <option value="">Property Use</option>
          </select>
                </div>
            </div>
            <div class="me-3 w-20">
                <div class="form-group mb-4">
                    <select name="" id="" class="form-control form-select">
            <option value="">Type</option>
            <option value="">Type</option>
            <option value="">Type</option>
            <option value="">Type</option>
          </select>
                </div>
            </div>
            <div class="w-20">
                <div class="form-group mb-4">
                    <select name="" id="" class="form-control form-select">
            <option value="">Status</option>
            <option value="">Status</option>
            <option value="">Status</option>
            <option value="">Status</option>
          </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-group mb-4">
                    <select name="" id="" class="form-control form-select">
            <option value="">Bedrooms</option>
            <option value="">Bedrooms</option>
            <option value="">Bedrooms</option>
            <option value="">Bedrooms</option>
          </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-4 form-control pb-4">
                    <div class="">
                        <div>
                            <div class="range-slider grad d-block" style="
                  --min: 0;
                  --max: 10000;
                  --step: 100;
                  --value: 200;
                  --text-value: '200';
                  --prefix: '$';
                ">
                                <input type="range" min="0" max="10000" step="100" value="200" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify((+this.value).toLocaleString()))" />
                                <output>20000</output>
                                <div class="range-slider__progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-4 form-control">
                    <div>
                        <div class="range-slider grad d-block" style="
                --min: 0;
                --max: 10000;
                --step: 100;
                --value: 200;
                --text-value: '200';
                --prefix: '$';
              ">
                            <input type="range" min="0" max="10000" step="100" value="200" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify((+this.value).toLocaleString()))" />
                            <output>20000</output>
                            <div class="range-slider__progress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group mb-4">
                    <select name="" id="" class="form-control form-select">
            <option value="">Investment Type</option>
            <option value="">Investment Type</option>
            <option value="">Investment Type</option>
            <option value="">Investment Type</option>
          </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Use</th>
                                <th>Property Type</th>
                                <th>Investment Type</th>
                                <th>Status</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                                <th>Price SR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gardenia Residences</td>
                                <td>Residential</td>
                                <td>Apartments</td>
                                <td>-</td>
                                <td>For Sale</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                                <td>800,000-1,200,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>