<!-- <h1>{{ title }}</h1> -->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<section class="map_heading pt-5 px-3" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-5 position-relative">
                    <select name="" id="" class="form-control custom_search form-select">
            <option value="">Searchhh</option>
            <option value="">lorem</option>
          </select>
                    <i class="fa fa-search"></i>
                    <img src="assets/images/locator-icon.png" class="locator_icon" alt="" />
                    <img src="assets/images/marked-icon.png" class="marked_icon" alt="" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex">
                    <button class="btn text-white border me-3 filter_btn" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000" (click)="changeHeadFilter()">
            <i class="fa fa-filter me-3"></i>Filter
          </button>
                    <button class="btn text-white border filter_btn" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
            List View
          </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showHeadFilter" class="mx-5 position-relative">
        <div class="p-3 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h6>Filter by</h6>
                    </div>
                    <div class="col-md-2">
                        <div class="col_selector">
                            <div class="form-group">
                                <select name="" id="" class="form-control form-select" (change)="onCountryChnage($event)">
                   <option value="">Country</option>
            <option>Saudi Arabia</option>
            <option>Dubai</option>
                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col_selector">
                            <div class="form-group">
                                <select name="" id="" class="form-control form-select">
                  <option value="">City</option>
                  <option value=""></option>
                  <option value="">Country</option>
                  <option value="">Country</option>
                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col_selector">
                            <div class="form-group">
                                <select name="" id="" class="form-control form-select">
                     <option value="">Property Use</option>
            
            <option value="">Residential</option>
            <option value="">Commercial</option>
            <option value="">Industrial</option>
            <option value="">Retail</option>
            <option value="">Hospitality</option>
            <option value="">Healthcare</option>
            <option value="">Education</option>
            <option value="">Storage</option>
            <option value="">Leisure/Entertainment</option>
            <option value="">Mixed Use</option>
            <option value="">F&B</option>
            <option value="">Oil & Gas</option>
            <option value="">Construction</option>
            <option value="">Packaging</option>
            <option value="">Transport</option>
            <option value="">Telecom</option>
            <option value="">Agriculture</option>
            <option value="">Energy</option>
            <option value="">Mining</option>
            <option value="">Multipurpose</option>
            <option value="">Others</option>
                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col_selector">
                            <div class="form-group">
                                <select name="" id="" class="form-control form-select">
                     <option value="">Type</option>
                    <option value="">Apartment</option>
                    <option value="">Penthouse</option>
                    <option value="">Townhouse</option>
                    <option value="">Villa</option>
                    <option value="">Bungalow</option>
                    <option value="">Compound</option>
                    <option value="">Bulk Units</option>
                    <option value="">Whole Building</option>
                    <option value="">Duplex</option>
                    <option value="">Full floor</option>
                    <option value="">Half floor</option>
                    <option value="">Triplex</option>
                    <option value="">Chalet</option>
                    <option value="">Land</option>
                    <option value="">Retail</option>
                    <option value="">Shop</option>
                    <option value="">Office Space</option>
                    <option value="">Show Room</option>
                    <option value="">Restaurant</option>
                    <option value="">Hotel</option>
                    <option value="">Apartment</option>
                    <option value="">Hotel</option>
                    <option value="">School</option>
                    <option value="">Hospital</option>
                    <option value="">Warehouse</option>
                    <option value="">Factory</option>
                    <option value="">Labour Camp</option>
                    <option value="">Raw Land</option>
                    <option value="">Strip Mall/Plaza</option>
                    <option value="">Petrol Station</option>
                    <option value="">Wellness Center</option>
                    <option value="">Medical Center</option>
                    <option value="">Gym</option>
                    <option value="">Resort</option>

                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col_selector">
                            <div class="form-group">
                                <select name="" id="" class="form-control form-select">
                     <option value="">Status</option>
            <option value="">Active</option>
          
                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col_selector">
                            <div class="form-group">
                                <!-- <button class="btn btn-primary me-3">Go</button> -->
                                <button class="btn btn-secondary" (click)="changeFooterFilter()">Advanced</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="px-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="" data-aos="zoom-in" data-aos-duration="3000">
                    <!-- <img src="assets/images/map1.png" class="img-fluid w-100" alt="" /> -->
                    <agm-map [latitude]="latit" [longitude]="lngit" class="w-100" id="map" >
                        <agm-marker *ngFor="let marker of mark" [latitude]="marker.lat" [longitude]="marker.lng" (markerClick)="markerClicked(marker.lat,marker.lng)"  [iconUrl]="marker.iconUrl" >
                            <agm-info-window #infoWindow >
                                {{ marker.label }}
                            </agm-info-window>
                        </agm-marker>

                    </agm-map>
                </div>
            </div>
            <div *ngIf="showFooterFilter" class="col-md-3">
              
                <div class="col_selector" data-aos="flip-down" data-aos-easing="ease-out-cubic" data-aos-duration="3000" *ngFor="let datas of FooterData"  >
                    <div class="d-flex align-items-center justify-content-between"  >
                        
                        <h3 class="mb-0 fz16">{{datas.Name}}</h3>
                        <span class="font-weight-bold"><b>&#10005;</b></span>
                    </div>
                    <p>{{datas.Stage__c}}</p>
                   
                    <div>
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/images/slider-img.png" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/slider-img.png" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/slider-img.png" class="d-block w-100" alt="..." />
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
                        </div>
                      
                        <p class="mb-1">{{datas.pba__PropertyType__c}}</p>
                        <p class="mb-1">{{datas.Investment_Type__c}}</p>

   
  
                    </div>
         
                </div>
            </div>
        </div>
    </div>
    <section *ngIf="showFooterFilter"  class="mx-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="fz16 mt-2">Filter by</h3>
                </div>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="me-3 w-20">
                    <div class="form-group mb-4">
                        <select name="" id="" class="form-control form-select">
            <option value="">Country</option>
            <option value="">Saudi Arabia</option>
            <option value="">Dubai</option>
          </select>
                    </div>
                </div>
                <div class="me-3 w-20">
                    <div class="form-group mb-4">
                        <select name="" id="" class="form-control form-select">
            <option value="">City</option>
            <option value="">City</option>
            <option value="">City</option>
            <option value="">City</option>
          </select>
                    </div>
                </div>
                <div class="me-3 w-20">
                    <div class="form-group mb-4">
                        <select name="" id="" class="form-control form-select">
            <option value="">Property Use</option>
            
            <option value="">Residential</option>
            <option value="">Commercial</option>
            <option value="">Industrial</option>
            <option value="">Retail</option>
            <option value="">Hospitality</option>
            <option value="">Healthcare</option>
            <option value="">Education</option>
            <option value="">Storage</option>
            <option value="">Leisure/Entertainment</option>
            <option value="">Mixed Use</option>
            <option value="">F&B</option>
            <option value="">Oil & Gas</option>
            <option value="">Construction</option>
            <option value="">Packaging</option>
            <option value="">Transport</option>
            <option value="">Telecom</option>
            <option value="">Agriculture</option>
            <option value="">Energy</option>
            <option value="">Mining</option>
            <option value="">Multipurpose</option>
            <option value="">Others</option>

          </select>
                    </div>
                </div>
                <div class="me-3 w-20">
                    <div class="form-group mb-4">
                        <select name="" id="" class="form-control form-select">
                    <option value="">Type</option>
                    <option value="">Apartment</option>
                    <option value="">Penthouse</option>
                    <option value="">Townhouse</option>
                    <option>Villa</option>
                    <option value="">Bungalow</option>
                    <option value="">Compound</option>
                    <option value="">Bulk Units</option>
                    <option value="">Whole Building</option>
                    <option value="">Duplex</option>
                    <option value="">Full floor</option>
                    <option value="">Half floor</option>
                    <option value="">Triplex</option>
                    <option value="">Chalet</option>
                    <option value="">Land</option>
                    <option value="">Retail</option>
                    <option value="">Shop</option>
                    <option value="">Office Space</option>
                    <option value="">Show Room</option>
                    <option value="">Restaurant</option>
                    <option value="">Hotel</option>
                    <option value="">Apartment</option>
                    <option value="">Hotel</option>
                    <option value="">School</option>
                    <option value="">Hospital</option>
                    <option value="">Warehouse</option>
                    <option value="">Factory</option>
                    <option value="">Labour Camp</option>
                    <option value="">Raw Land</option>
                    <option value="">Strip Mall/Plaza</option>
                    <option value="">Petrol Station</option>
                    <option value="">Wellness Center</option>
                    <option value="">Medical Center</option>
                    <option value="">Gym</option>
                    <option value="">Resort</option>

          </select>
                    </div>
                </div>
                <div class="w-20">
                    <div class="form-group mb-4">
                        <select name="" id="" class="form-control form-select">
            <option value="">Status</option>
            <option value="">Status</option>
            <option value="">Status</option>
            <option value="">Status</option>
          </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-group mb-4">
                        <select name="" id="" class="form-control form-select">
            <option value="">Bedrooms</option>
            <option value="">Bedrooms</option>
            <option value="">Bedrooms</option>
            <option value="">Bedrooms</option>
          </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group mb-4 form-control pb-4">
                        <div class="">
                            <div>
                                <div class="range-slider grad d-block" style="
                  --min: 0;
                  --max: 10000;
                  --step: 100;
                  --value: 200;
                  --text-value: '200';
                  --prefix: '$';
                ">
                                    <input type="range" min="0" max="10000" step="100" value="200" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify((+this.value).toLocaleString()))" />
                                    <output>20000</output>
                                    <div class="range-slider__progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group mb-4 form-control">
                        <div>
                            <div class="range-slider grad d-block" style="
                --min: 0;
                --max: 10000;
                --step: 100;
                --value: 200;
                --text-value: '200';
                --prefix: '$';
              ">
                                <input type="range" min="0" max="10000" step="100" value="200" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify((+this.value).toLocaleString()))" />
                                <output>20000</output>
                                <div class="range-slider__progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group mb-4">
                        <select name="" id="" class="form-control form-select">
            <option value="">Investment Type</option>
            <option value="">Investment Type</option>
            <option value="">Investment Type</option>
            <option value="">Investment Type</option>
          </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Use</th>
                                    <th>Property Type</th>
                                    <th>Investment Type</th>
                                    <th>Status</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                    <th>Price SR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gardenia Residences</td>
                                    <td>Residential</td>
                                    <td>Apartments</td>
                                    <td>-</td>
                                    <td>For Sale</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                    <td>800,000-1,200,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>