<section class="login_section p-5">
    <div class="login_card text-center w-30 mx-auto">
        <h3 class="fz40">My Land Sterling</h3>
        <p class="font_semibold mb-4 fz16">
            All your real estate solutions in one place.
        </p>
        <h4 class="font_medium pt-4 fz20">Welcome!</h4>
        <p class="font_semibold fz20 mb-4">Sign in to your account</p>
        <form [formGroup]="loginForm">
            <div class="form-group">
                <input type="text" placeholder="Email" formControlName="email" class="form-control fz16 box_shadow border-0 py-2" />
                <div *ngIf="submitted && f.email.errors" class="">
                    <div *ngIf="f.email.errors.required" class="validation_color text-danger text-start mt-2">
                        Email is required !
                    </div>
                </div>
            </div>
            <button class="btn w-100 mb-4 mt-4 fz16 font_medium" (click)="moveToPassword()">
        Proceed
      </button>
            <p class="fz16 font_regular mb-0">
                Don’t have an account?
                <a href="javascript:void(0);" class="text-decoration-none">Sign Up</a>
            </p>
        </form>
    </div>
</section>