<form [formGroup]="addProperty">
    <section class="mt-5" data-aos="zoom-in" data-aos-duration="3000">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="col_selector">
                                <h5 class="text-secondary fz18">
                                    Create Record: <span class="text-danger">Property</span>
                                </h5>
                                <p class="text-secondary">
                                    Pick the field and enter/select their target values
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Title</label>
                                    <input type="text" name="title" formControlName="title" class="form-control custom_input" id="" placeholder="Title" />
                                    <div *ngIf="submitted && f.title.errors" class="text-left">
                                        <div *ngIf="f.title.errors.required" class="validation_color text-danger">
                                            Title is Mandatory!
                                        </div>
                                        <div *ngIf="f.title.errors.minlength" class="validation_color text-danger">
                                            Title must be at least 3 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Property Use</label>
                                    <select name="property_use" formControlName="property_use" class="form-control custom_input form-select" >
                                        <option value="">Property Use</option>
                               
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                                <option>Industrial</option>
                                                <option>Retail</option>
                                                <option>Hospitality</option>
                                                <option>Healthcare</option>
                                                <option>Education</option>
                                                <option>Storage</option>
                                                <option>Leisure/Entertainment</option>
                                                <option>Mixed Use</option>
                                                <option>F&B</option>
                                                <option>Oil & Gas</option>
                                                <option>Construction</option>
                                                <option>Packaging</option>
                                                <option>Transport</option>
                                                <option>Telecom</option>
                                                <option>Agriculture</option>
                                                <option>Energy</option>
                                                <option>Mining</option>
                                                <option>Multipurpose</option>
                                                <option>Others</option>
                                                    </select> 
                               
                                    <div *ngIf="submitted && f.property_use.errors" class="text-left">
                                        <div *ngIf="f.property_use.errors.required" class="validation_color text-danger">
                                            Property Use is Mandatory!
                                        </div>
                                        <div *ngIf="f.property_use.errors.minlength" class="validation_color text-danger">
                                            Property Use must be at least 3 characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Investment Type</label>
                                    <select name="investment_type" formControlName="investment_type" class="form-control custom_input form-select" >                                      
                                        <option>For Sale Opportunity</option>
                                        <option>To Lease Opportunity</option>
                                        <option>Build To Suit Opportunity</option>
                                        <option>R/E Private Equity Opportunity</option>
                                        <option>Income Generating Opportunity</option>
                                        <option>Development Opportunity</option>
                                        <option>Investment/Development Opportunity</option>
                                        <option>Fund Opening Opportunity</option>
                                        <option>Whole Asset to Rent Opportunity</option>                   
                                   </select>
                                   
                                    <div *ngIf="submitted && f.investment_type.errors" class="text-left">
                                        <div *ngIf="f.investment_type.errors.required" class="validation_color text-danger">
                                            Investment Type is Mandatory!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">LS Service</label>
                                    <select  name="l_s_service" formControlName="l_s_service" class="form-control custom_input form-select" >
                                        <option>None</option>
                                        <option>Project sales and leasing</option>
                                        <option>Industrial Consulting</option>
                                        <option>Investment advisory</option>
                                        <option>Project and building consulting</option>
                                        <option>Property Management</option>
                                        <option>Property valuation</option>
                                        <option>Strategic consulting</option>
                                        
                                        </select>

                                    <div *ngIf="submitted && f.l_s_service.errors" class="text-left">
                                        <div *ngIf="f.l_s_service.errors.required" class="validation_color text-danger">
                                            L S Service is Mandatory!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Property Type</label>
                                    <select name="property_type" formControlName="property_type" class="form-control custom_input form-select" >
                                        <option value="">Type</option>
                                       <option>Apartment</option>
                                       <option>Penthouse</option>
                                       <option>Townhouse</option>
                                       <option>Villa</option>
                                       <option>Bungalow</option>
                                       <option>Compound</option>
                                       <option>Bulk Units</option>
                                       <option>Whole Building</option>
                                       <option>Duplex</option>
                                       <option>Full floor</option>
                                       <option>Half floor</option>
                                       <option>Triplex</option>
                                       <option>Chalet</option>
                                       <option>Land</option>
                                       <option>Retail</option>
                                       <option>Shop</option>
                                       <option>Office Space</option>
                                       <option>Show Room</option>
                                       <option>Restaurant</option>
                                       <option>Hotel</option>
                                       <option>Apartment</option>
                                       <option>Hotel</option>
                                       <option>School</option>
                                       <option>Hospital</option>
                                       <option>Warehouse</option>
                                       <option>Factory</option>
                                       <option>Labour Camp</option>
                                       <option>Raw Land</option>
                                       <option>Strip Mall/Plaza</option>
                                       <option>Petrol Station</option>
                                       <option>Wellness Center</option>
                                       <option>Medical Center</option>
                                       <option>Gym</option>
                                       <option>Resort</option>
                   
                                   </select>
                                    <div *ngIf="submitted && f.property_type.errors" class="text-left">
                                        <div *ngIf="f.property_type.errors.required" class="validation_color text-danger">
                                            Property Type is Mandatory!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col_selector">
                                        <div class="form-group position-relative mb-4">
                                            <label for="" class="custom_label">Latitude</label>
                                            <input type="text" name="latitude" formControlName="latitude" class="form-control custom_input" id="" placeholder="latitude" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col_selector">
                                        <div class="form-group position-relative mb-4">
                                            <label for="" class="custom_label">Longitude</label>
                                            <input type="text" name="longitude" formControlName="longitude" class="form-control custom_input" id="" placeholder="longitude" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">country/Postal Code</label>
                                    <input type="text" name="zip" formControlName="zip" class="form-control custom_input" id="" placeholder="zip" />
                                    <div *ngIf="submitted && f.zip.errors" class="text-left">
                                        <div *ngIf="f.zip.errors.required" class="validation_color text-danger">
                                            ZIP is Mandatory!
                                        </div>
                                        <div *ngIf="f.zip.errors.pattern" class="validation_color text-danger">
                                            Follow the pattern!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Country</label>
                                    <input name="country" formControlName="country" class="form-control custom_input" id="" placeholder="Country" />
                                    <div *ngIf="submitted && f.country.errors" class="text-left">
                                        <div *ngIf="f.country.errors.required" class="validation_color text-danger">
                                            Country Field is Mandatory!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Area</label>
                                    <input name="area" formControlName="area" class="form-control custom_input" id="" placeholder="Area" />
                                    <div *ngIf="submitted && f.area.errors" class="text-left">
                                        <div *ngIf="f.area.errors.required" class="validation_color text-danger">
                                            Area Field is Mandatory!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">City</label>
                                    <input name="city" formControlName="city" class="form-control custom_input" id="" placeholder="City" />
                                    <div *ngIf="submitted && f.city.errors" class="text-left">
                                        <div *ngIf="f.city.errors.required" class="validation_color text-danger">
                                            City Field is Mandatory!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Address</label>
                                    <textarea name="address" formControlName="address" class="form-control custom_input h-auto" id="" cols="30" rows="3" placeholder="Unnamed road, 854124, Usa"></textarea>
                                    <div *ngIf="submitted && f.address.errors" class="text-left">
                                        <div *ngIf="f.address.errors.required" class="validation_color text-danger">
                                            Address Field is Mandatory!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label class="custom_label">
                    Record a voice comment
                    <img src="/assets/images/mic.png" alt="" />
                  </label>
                                    <div style="text-align: center" class="form-control text-end">
                                        <button (click)="initiateRecording()" class="btn btn-success fz12" *ngIf="!recording" style="cursor: pointer">
                      Start Recording
                    </button>
                                        <button (click)="stopRecording()" class="btn btn-danger fz12" *ngIf="recording" style="cursor: pointer">
                      Stop Recording
                    </button>
                                        <br />
                                        <audio controls="" *ngIf="url">
                      <source [src]="sanitize(url)" type="audio/wav" />
                    </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col_selector">
                                <div class="form-group position-relative mb-4">
                                    <label for="" class="custom_label">Upload images</label>
                                    <label class="custom_input py-3 h-auto d-block" for="upload_img">
                    <img src="assets/images/upload_file.png" alt="" /> Drag and
                    drop your property files here or
                    <span class="text-primary">browse</span>
                  </label>
                                    <input type="file" (change)="getFileDetails($event)" name="" class="d-none" id="upload_img" />
                                    <!-- <div *ngIf="submitted && f.image.errors" class="text-left">
                                        <div *ngIf="f.image.errors.required" class="validation_color text-danger">
                                            Image Field is Mandatory!
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col_selector">
                                <div class="custom_check">
                                    <div class="form-group">
                                        <input type="checkbox" id="html" />
                                        <label for="html">Gater more information</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex align-items-center justify-content-between py-3 px-4 border-top" style="box-shadow: 1px 0px 5px 2px #0000004a">
        <div class="">
            <img src="assets/images/information.png" alt="" />
        </div>
        <div class="mx-4">
            <p class="mb-0">
                New record will be pushed directly to salesForce and will appear in Landsterling after the data sync, which normally takes 10-40 Seconds
            </p>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn me-3 text-danger px-5" (click)="cancel()">
        Cancel
      </button>
            <button type="submit" (click)="saveDetails()" class="btn btn-primary px-5">
        Create
      </button>
        </div>
    </div>
</form>