/* You can add global styles to this file, and also import other style files */

a {
    text-decoration: none;
    color: initial;
}

.map_heading {
    background-color: #c8102e;
}

.fz10 {
    font-size: 10px;
}

.fz11 {
    font-size: 11px;
}

.fz12 {
    font-size: 12px;
}

.fz13 {
    font-size: 13px;
}

.fz14 {
    font-size: 14px;
}

.fz15 {
    font-size: 15px;
}

.fz16 {
    font-size: 16px;
}

.fz18 {
    font-size: 18px;
}

.fz20 {
    font-size: 20px;
}

.fz22 {
    font-size: 22px;
}

.fz24 {
    font-size: 24px;
}

.fz26 {
    font-size: 26px;
}

.fz28 {
    font-size: 28px;
}

.fz30 {
    font-size: 30px;
}

.fz32 {
    font-size: 32px;
}

.fz34 {
    font-size: 34px;
}

.fz36 {
    font-size: 36px;
}

.fz38 {
    font-size: 38px;
}

.fz40 {
    font-size: 40px;
}

.fz50 {
    font-size: 50px;
}

.fz60 {
    font-size: 60px;
}

.fz70 {
    font-size: 70px;
}

.fz80 {
    font-size: 80px;
}

.fz90 {
    font-size: 90px;
}

.fz100 {
    font-size: 100px;
}

.font_regular {
    font-family: "Exo-regular";
}

.font_semibold {
    font-family: "Exo-semibold";
}

.font_bold {
    font-family: "Exo-bold";
}

.font_medium {
    font-family: "Exo-medium";
}

.font_italic {
    font-family: "Exo-italic";
}

body {
    font-family: "Exo-regular";
}

.red_color {
    color: #c8102e !important;
}

.custom_search {
    height: 44px;
    border-radius: 30px;
    border: 0;
}

.fa-search {
    position: absolute;
    top: 15px;
    right: 120px;
}

.locator_icon {
    position: absolute;
    top: 15px;
    right: 80px;
}

.marked_icon {
    position: absolute;
    top: 15px;
    right: 40px;
}

.filter_select {
    background-color: #c8102e;
    color: #fff;
    border: none;
}

.radius_30 {
    border-radius: 30px;
}

.form_select {
    background-color: #b5b5b582;
    color: #000;
}

.range-slider.grad {
    --progress-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
    --progress-flll-shadow: var(--progress-shadow);
    --fill-color: linear-gradient(to right, #d1d1d1, #d1d1d1);
    --thumb-shadow: 0 0 4px rgba(0, 0, 0, 0.3), -3px 9px 9px rgba(255, 255, 255, 0.33) inset, -1px 3px 2px rgba(255, 255, 255, 0.33) inset, 0 0 0 99px var(--primary-color) inset;
}

.range-slider.grad input:hover {
    --thumb-transform: scale(1.2);
}

.range-slider.grad input:active {
    --thumb-shadow: inherit;
    --thumb-transform: scale(1);
}

.range-slider.flat {
    --thumb-size: 25px;
    --track-height: calc(var(--thumb-size) / 3);
    --progress-shadow: none;
    --progress-flll-shadow: none;
    --thumb-shadow: 0 0 0 7px var(--primary-color) inset, 0 0 0 99px white inset;
    --thumb-shadow-hover: 0 0 0 9px var(--primary-color) inset, 0 0 0 99px white inset;
    --thumb-shadow-active: 0 0 0 13px var(--primary-color) inset;
}

.range-slider.overlay {
    --primary-color: #d6e9ff;
    --track-height: 50px;
    --thumb-size: var(--track-height);
    --thumb-color: var(--primary-color);
    --thumb-shadow: none;
    --progress-flll-shadow: none;
    --progress-shadow: none;
    --progress-background: none;
    --progress-radius: 0px;
    --ticks-color: var(--primary-color);
    --ticks-height: 0;
    --ticks-thickness: 0;
    --ticks-gap: 0px;
    --min-max-font: 700 18px Arial;
    --min-max-opacity: 1;
    --show-min-max: none;
    color: #0366d6;
}

.range-slider.overlay input:hover {
    --thumb-shadow: calc(25px - (50px * var(--is-left-most))) 0 0 -15px #0366d6 inset;
}

.range-slider.overlay input:active {
    --thumb-color: inherit;
}

.range-slider.overlay .range-slider__values {
    width: calc(100% - 50% / (var(--max) - var(--min)));
}

.range-slider {
    --primary-color: #0366d6;
    --value-offset-y: var(--ticks-gap);
    --value-active-color: white;
    --value-background: transparent;
    --value-background-hover: var(--primary-color);
    --value-font: 700 12px Arial;
    --fill-color: var(--primary-color);
    --progress-background: #eee;
    --progress-radius: 20px;
    --track-height: calc(var(--thumb-size) / 2);
    --min-max-font: 12px Arial;
    --min-max-opacity: 0.5;
    --min-max-x-offset: 10%;
    --thumb-size: 10px;
    --thumb-color: white;
    --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 0 99px var(--thumb-color) inset;
    --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset var(--thumb-color), 0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
    --thumb-shadow-hover: var(--thumb-shadow);
    --ticks-thickness: 1px;
    --ticks-height: 5px;
    --ticks-gap: var(--ticks-height, 0);
    --ticks-color: silver;
    --step: 1;
    --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
    --maxTicksAllowed: 30;
    --tickInterval: 100 / var(--max) - var(--min) / var(--step) * var(--tickEvery, 1);
    --tickIntervalPerc: calc( (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) * var(--tickEvery, 1));
    --value-a: Clamp(var(--min), var(--value, 0), var(--max));
    --value-b: var(--value, 0);
    --text-value-a: var(--text-value, "");
    --completed-a: calc( (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100);
    --completed-b: calc( (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100);
    display: inline-block;
    background: linear-gradient( to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
    background-size: var(--tickIntervalPerc) var(--ticks-height);
    background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2);
    background-position-y: var(--flip-y, bottom);
    padding-bottom: var(--flip-y, var(--ticks-gap));
    padding-top: calc(var(--flip-y) * var(--ticks-gap));
    position: relative;
    z-index: 1;
}

.range-slider[data-ticks-position="top"] {
    --flip-y: 1;
}

.range-slider::before,
.range-slider::after {
    --offset: calc(var(--thumb-size) / 2);
    content: counter(x);
    display: var(--show-min-max, block);
    font: var(--min-max-font);
    position: absolute;
    bottom: var(--flip-y, -2.5ch);
    top: calc(-2.5ch * var(--flip-y));
    opacity: Clamp(0, var(--at-edge), var(--min-max-opacity));
    transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
    pointer-events: none;
}

.range-slider::before {
    --before: 1;
    --at-edge: var(--thumb-close-to-min);
    counter-reset: x var(--min);
    left: var(--offset);
}

.range-slider::after {
    --at-edge: var(--thumb-close-to-max);
    counter-reset: x var(--max);
    right: var(--offset);
}

.range-slider__values {
    position: relative;
    top: 50%;
    line-height: 0;
    text-align: justify;
    width: 100%;
    pointer-events: none;
    margin: 0 auto;
    z-index: 5;
}

.range-slider__values::after {
    content: "";
    width: 100%;
    display: inline-block;
    height: 0;
    background: red;
}

.range-slider__progress {
    --start-end: calc(var(--thumb-size) / 2);
    --clip-end: calc(100% - (var(--cb)) * 1%);
    --clip-start: calc(var(--ca) * 1%);
    --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
    position: absolute;
    left: var(--start-end);
    right: var(--start-end);
    top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2);
    height: calc(var(--track-height));
    background: var(--progress-background, #eee);
    pointer-events: none;
    z-index: -1;
    border-radius: var(--progress-radius);
}

.range-slider__progress::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    clip-path: var(--clip);
    top: 0;
    bottom: 0;
    background: var(--fill-color, black);
    box-shadow: var(--progress-flll-shadow);
    z-index: 1;
    border-radius: inherit;
}

.range-slider__progress::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--progress-shadow);
    pointer-events: none;
    border-radius: inherit;
}

.range-slider>input {
    -webkit-appearance: none;
    width: 100%;
    height: var(--thumb-size);
    margin: 0;
    position: absolute;
    left: 0;
    top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)));
    cursor: -webkit-grab;
    cursor: grab;
    outline: none;
    background: none;
}

.range-slider>input:not(:only-of-type) {
    pointer-events: none;
}

.range-slider>input::-webkit-slider-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    transition: 0.1s;
}

.range-slider>input::-moz-range-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    transition: 0.1s;
}

.range-slider>input::-ms-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    transition: 0.1s;
}

.range-slider>input:hover {
    --thumb-shadow: var(--thumb-shadow-hover);
}

.range-slider>input:hover+output {
    --value-background: var(--value-background-hover);
    --y-offset: -5px;
    color: var(--value-active-color);
    box-shadow: 0 0 0 3px var(--value-background);
}

.range-slider>input:active {
    --thumb-shadow: var(--thumb-shadow-active);
    cursor: grabbing;
    z-index: 2;
}

.range-slider>input:active+output {
    transition: 0s;
}

.range-slider>input:nth-of-type(1) {
    --is-left-most: Clamp(0, var(--value-a) - var(--value-b) * 99999, 1);
}

.range-slider>input:nth-of-type(1)+output {
    --value: var(--value-a);
    --x-offset: calc(var(--completed-a) * -1%);
    font-size: 8px;
}

.range-slider>input:nth-of-type(1)+output:not(:only-of-type) {
    --flip: calc(var(--thumbs-too-close) * -1);
}

.range-slider>input:nth-of-type(1)+output::after {
    content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
}

.range-slider>input:nth-of-type(2) {
    --is-left-most: Clamp(0, var(--value-b) - var(--value-a) * 99999, 1);
}

.range-slider>input:nth-of-type(2)+output {
    --value: var(--value-b);
}

.range-slider>input:only-of-type~.range-slider__progress {
    --clip-start: 0;
}

.range-slider>input+output {
    --flip: -1;
    --x-offset: calc(var(--completed-b) * -1%);
    --pos: calc(((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%);
    pointer-events: none;
    position: absolute;
    z-index: 5;
    background: var(--value-background);
    border-radius: 10px;
    padding: 2px 4px;
    left: var(--pos);
    transform: translate( var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
    transition: all 0.12s ease-out, left 0s;
}

.range-slider>input+output::after {
    content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
    font: var(--value-font);
}

.login_section {
    background-color: #0c2340;
    padding-top: 150px;
    height: calc(100vh - 108px);
    /* height: 500vh; */
}

.login_card {
    background-color: #f2f2f2;
    padding: 43px 43px 70px;
    border-radius: 15px;
    transition: width 2s, height 4s;
}

.login_card h3 {
    color: #c8102e;
    font-family: "Exo-italic";
}

.login_card .btn {
    background-color: #c8102e;
    color: #fff;
}

.box_shadow {
    box-shadow: 0px 3px 6px #00000029;
}

.navbar .navbar-nav .nav-link {
    color: #0c2340;
    font-family: "Exo-medium";
    padding: 8px 21px;
}

.opacity {
    opacity: 0.6;
}

footer {
    background-color: #222222;
}

.copyright_div {
    background-color: #292929;
}

.custom_input {
    height: 40px;
    font-size: 14px;
    padding-left: 20px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom_label {
    position: absolute;
    top: -9px;
    left: 12px;
    font-size: 13px;
    background: #fff;
    padding: 0 10px;
    color: #7a7a7a;
}

.custom_check .form-group {
    display: block;
    margin-bottom: 15px;
}

.custom_check .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom_check .form-group label {
    position: relative;
    cursor: pointer;
}

.custom_check .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}

.custom_check .form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 7px;
    width: 5px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.filter_btn:hover {
    background-color: #fff;
    color: #c8102e !important;
}

.navbar-nav .nav-link:hover {
    color: #c8102e !important;
}

.profile_section {
    background-color: #f2f2f2;
}

.profile_section .custom_card {
    box-shadow: 1px 2px 7px 2px #d9d9d9;
    border-radius: 17px;
}

.profile_input {
    background-color: #f2f2f2;
    height: 46px;
    color: #293d56;
    border: none;
    box-shadow: 0px 2px 2px 1px #d9d9d9;
}

.custom_switch .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.custom_switch .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom_switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.custom_switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.custom_switch input:checked+.slider {
    background-color: #0c2340;
}

.custom_switch input:focus+.slider {
    box-shadow: 0 0 1px #0c2340;
}

.custom_switch input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.custom_switch .slider.round {
    border-radius: 34px;
}

.custom_switch .slider.round:before {
    border-radius: 50%;
}

.subscribe_part {
    background-color: #f2f2f2;
    height: 46px;
    color: #293d56;
    border: none;
    box-shadow: 0px 2px 2px 1px #d9d9d9;
    padding: 5px 10px;
}

.custom_btn {
    background-color: #0c2340;
    color: #fff;
}

.important_field {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #0c2340;
}