<div class="" id="forgot_password">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="login_card text-center">
                <h3 class="fz40">My Land Sterling</h3>
                <p class="font_semibold mb-5 fz16">
                    All your real estate solutions in one place.
                </p>
                <p class="font_semibold fz20 mb-4">Forgot Password</p>
                <div class="form-group">
                    <label for="" class="d-block text-start mb-2">Email</label>
                    <input type="email" placeholder="Email Id" class="form-control fz16 box_shadow border-0 py-2" />
                </div>
                <button class="btn w-100 mb-4 mt-4 fz16 font_medium">
          Reset Password
        </button>
            </div>
        </div>
    </div>
</div>